/* FILTERING STYLES */

/* Style for the filter row */
#allForme {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

/* Style for all filter cards */
.wrapper {
    width: calc(18% - 20px);
    background: #fff;
    border-radius: 10px;
    padding: 20px 25px 40px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

/* Style for all filter titles */
header h2 {
    font-size: 24px;
    font-weight: 600;
}

/* Style for min/max input values */
.price-input, .speed-input, .l-100-input, .power-input, .acceleration-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}

/* Style for the boxes containing min/max values */
.field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}

/* Style for the input boxes inside the min/max boxes */
.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #dfd6d6;
    -moz-appearance: textfield;
}

/* Style for the Min/Max separator */
.separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

/* Style for input type number buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Style for the sliders */
.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

/* Style for the progress bars */
.progress-price, .progress-speed, .progress-l-100, .progress-power, .progress-acceleration {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #b81717;
}

/* Style for the range input thumbs */
input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #b81717;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* Style for the range filters */
.range-price, .range-speed, .range-l-100, .range-acceleration, .range-power {
    position: relative;
}

/* Style for the range input thumbs (Firefox) */
input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #a43939;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* Style for the range input tracks */
.range-price input, .range-speed input, .range-l-100 input, .range-acceleration input, .range-power input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* GALLERY STYLES */

/* Style for the Porsche models gallery container */
.porsche-models-gallery {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Adjust to control spacing between columns */
    max-width: 100%;
}

/* Style for each card containing a Porsche model */
.porsche-model-card {
    width: calc(33.33% - 20px);
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the image within the model card */
.porsche-model-image {
    width: 100%;
    height: auto;
}

/* Style for the model name */
.porsche-model-name {
    color: #333;
    margin: 10px 0;
    font-size: 25px;
}

/* Style for the model price */
.porsche-model-price {
    color: #777;
    font-size: 0.9em;
}
